body {
    background-color:antiquewhite;
}

.header {
    display: flex;
}

#gameArea {
    background-color: black;
    height: 70vh;
    margin: 16px;
    padding: 16px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameArea .protospace {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}