body {
    background-color:antiquewhite;
}

.header {
    display: flex;
}

button {
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
    border: 5px solid aliceblue;
    border-radius: 8px;
    background-color: black;
    color: aliceblue;
    font-size: 24px;
    padding: 6px 12px;
}

.highlitButton {
    border-color: lightblue;
    color: lightblue;
}


#gamespaceArea {
    background-color: black;
    height: 70vh;
    margin: 16px;
    padding: 16px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.hidden {
    display: none;
}